<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="" th:href="@{/css/login.css}">
        <title>ABC Tech: Login</title>
    </head>
    <body>
        <main>
            <h1>Sign In</h1>
            <img th:src="@{/images/(Logo)%20ABC%20Tech.svg}" alt="logo" class="logo">
            <form action="/login" method="post">
                <label class="label">Login</label>
                <input class="field-form" type="text" placeholder="username">
                <label class="label">Password</label>
                <input class="field-form" type="password" placeholder="password">
                <input class="submit-button" type="submit" value="Submit">
            </form>
            <section class="login-options">
                <a th:href="@{/recover_password.html}">Recover password</a>
                <a th:href="@{/register.html}">Create Account</a>
            </section>
        </main>
    </body>
</html>
