<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="" th:href="@{/css/recover_password.css}">
        <title>ABC Tech: Recover Password</title>
    </head>
    <body>
        <main>
            <h1>Forgot password?</h1>
            <h2>Relax! Just tell us your email:</h2>
            <form action="">
                <label class="label">E-mail</label>
                <input type="email" placeholder="example@email.com" class="field-form">
                <input type="submit" value="send email" class="submit-button">
            </form>
            <a th:href="@{/login.html}">Back to Login Page</a>
        </main>
    </body>
</html>