<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="" th:href="@{/css/register.css}">
        <title>ABC Tech: Create Account</title>
    </head>
    <body>
        <main>
            <h1>Join Us!</h1>
            <h2>Be a member of the ABC Tech team</h2>
            <form action="/register" method="post">
                <label>Username</label>
                <input type="text" placeholder="username" class="field-form">
                <label>E-mail</label>
                <input type="email" placeholder="example@email.com" class="field-form">
                <label>Role</label>
                <select name="role-select" class="field-form">
                    <option value="software engineer">Software Engineer</option>
                    <option value="quality analyst">Quality Analyst</option>
                    <option value="scrum master">Scrum Master</option>
                    <option value="project manager">Project Manager</option>
                </select>
                <label>Password</label>
                <input type="password" placeholder="password" class="field-form">
                <label>Confirm Password</label>
                <input type="password" placeholder="confirm password" class="field-form">
                <input type="submit" value="Create Account" class="submit-button">
            </form>
            <a th:href="@{/login.html}">Back to Login Page</a>
        </main>
    </body>
</html>