:root {
    --black: #292929;
    --white: #FFFFFF;
    --blue: #4871F7;
    --red: #F7484E;
    --yellow: #F7D448;
}

body {
    background-color: var(--red);
    display: flex;
}

main {
    background-color: var(--white);
    width: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
}

h1 {
    color: var(--black);
    font-weight: 600;
    font-size: 56px;
    margin: 0;
    text-align: center;
    padding: 10px;
}

h2 {
    color: var(--black);
    font-weight: 300;
    font-size: 16px;
    margin: 0;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.label {
    margin: 10px auto 0px auto;
    color: var(--black);
}

.field-form {
    height: 25px;
    width: 200px;
    font-size: 16px;
    color: var(--black);
}

.submit-button {
    margin: 25px auto 10px auto;
    width: 180px;
    height: 35px;
    background-color: var(--blue);
    border-style: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--white);
}

.submit-button:hover {
    background-color: var(--black);
    color: var(--white);
}

a {
    color: var(--black);
    margin: auto;
    padding: 20px;
}
